<div class="main">
  <div class="sidebar">
    <ul class="nav">
      <li>
        <div>
          <a routerLink="/DnD">
            <i class="fab fa-fort-awesome-alt"></i>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="/Aborea">
            <i class="fab fa-fulcrum"></i>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a routerLink="/DSA">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </li>

    </ul>
  </div>
</div>